*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    /*position: fixed;*/
    top: 0%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: white;
}

.logo {
    width: 150px;
}

.navbar {
    display: flex;
    position: relative;
    
   
  
}
.navbar li {
    list-style: none;
}

.navbar a {
    color: #488143;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 700;
}


/*section slide*/
.p_slide {
   position:relative; 
   object-fit: cover;
   display: block;
 
  
}

.background_img {
    max-width: 100%;
    height: auto;
}

.content_slide {
    position: absolute;
    top: 50%;
    left: 1%;
    width: auto;
}

h1 {
    font-size:200%;
}

/*section savoir-faire*/
.blc-sf{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    margin-top: none;
    box-sizing: border-box;
    width: 100%;
}

.blc-cards{
    display: flex;
    width: 25%;
    box-sizing: border-box;
    background-color: white;
    margin:25px;
    border-radius: 25px 25px 25px 25px;
}

.blc-content {
    box-sizing: border-box;
    width:auto;
    margin: 2%;
}












.footer_img{
    width: 150px;
}
